*{
	margin: 0px;
}
body{
	font-family: SimHei,"黑体", Hiragino Sans GB, "冬青黑体", sans-serif;
}
.container{
	margin: 0 auto;
	width: 1024px;
}
.head-box{
	width: 1024px;
	height: 600px;
	background: #192314;
	overflow: hidden;
	position: relative;
}
.head-pic-box{
	width: 652px;
	height: 488px;
	background: url(b1.jpg);
	background-size: 100% auto;
	float: right;
}
.head-word-box{
	width: 521px;
	height: 208px;
	/*background: greenyellow;*/
	position: absolute;
	left: 100px;
	top: 150px;
	color: #fff;
	font-size: 12px;
}
.description{
	line-height: 24px;
	margin-bottom: 10px;
	letter-spacing: 2px;
}
.title{
	font-weight: normal;
	letter-spacing: 3.75px;
	line-height: 39px;
	font-size: 24px;
	margin-top: 10px;
	margin-bottom: 12px;
}
p{
	font-size: 13px;
	font-weight: 300;
	line-height: 21px;
	margin-top: 0px;
	margin-bottom: 19.5px;
}
.button{
	display: block;
	width: 202px;
	line-height: 21px;
	padding: 10px 40px;
	background-color: rgba(255,255,255,0.1);
	color: white;
	text-decoration: none;
	text-align: center;
}
.banner-box{
	height: 305px;
	padding-bottom: 100px;
	background: url(img-bg-1350.jpg);
	background-size: 100% auto;
	background-position: 0 -158px;
}
.product-box{
	width: 706px;
	height: 353px;
	margin: 0 auto;
	margin-top: -48px;
	position: relative;
	z-index: 100;
}
.product-item{
	float: left;
	width: 235px;
	height: 323px;
	position: relative;
}
.product-item h4{
	position: absolute;
	top: 15px;
	left: 20px;
	color: #fff;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
}
.product-item img{
	width: 100%;
}