* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 微软雅黑, SimHei, "黑体", Hiragino Sans GB, "冬青黑体", sans-serif;
}

.container {
    margin: 0 auto;
    width: 1024px;
    position: relative;
}

.head-box {
    width: 1024px;
    height: 600px;
    background: #192314;
    overflow: hidden;
    position: relative;
}

.head-pic-box {
    width: 652px;
    height: 488px;
    background: url(b1.jpg);
    background-size: 100% auto;
    float: right;
}

.head-word-box {
    width: 521px;
    height: 208px;
    position: absolute;
    left: 100px;
    top: 150px;
    color: #fff;
    font-size: 12px;
}

.description {
    line-height: 24px;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.title {
    font-weight: normal;
    letter-spacing: 4px;
    line-height: 39px;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 12px;
}

p {
    font-size: 13px;
    font-weight: 300;
    line-height: 21px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.head-word-box .button {
    display: block;
    width: 282px;
    line-height: 21px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    text-decoration: none;
    text-align: center;
}

.banner-box {
    height: 405px;
    background: url(img-bg-1350.jpg) 0 -158px / 100% auto;
}

.product-box {
    width: 706px;
    height: 353px;
    margin: -48px auto 0 auto;
    position: relative;
    z-index: 100;
}

.product-item {
    float: left;
    width: 235px;
    height: 323px;
    position: relative;
}

.product-item h4 {
    position: absolute;
    top: 15px;
    left: 20px;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

.product-item img {
    width: 100%;
}

.top-box {
    width: 100%;
    height: 57px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 2000;
}

.top-box .left, .top-box .right {
    width: 150px;
    height: 100%;
    font-weight: 300;
    color: #fff;
    line-height: 57px;
    text-align: center;
}

.top-box .left {
    background: url(product.png) no-repeat left center;
}

.center {
    width: 191px;
    height: 17px;
    padding: 12px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    margin: 10px 0;
    text-align: center;
}

.top-box .right {
    background: url(menu.png) no-repeat right center;
}

.product-title {
    height: 318px;
    margin: 100px 0 60px 0;
    text-align: center;
}

.product-title h6 {
    font-size: 11px;
    font-weight: normal;
    letter-spacing: 2px;
    line-height: 13px;
    margin-top: 45px;
}

.product-title h2 {
    margin: 25px 0 40px 0;
    font-size: 50px;
    letter-spacing: 4px;
    line-height: 60px;
    font-weight: 500;
}

.product-list {
    margin: 0 auto;
    display: flex;
    flex-flow: wrap;
}

.product {
    width: 512px;
    height: 512px;
    /*float: left;*/
    position: relative;
}

.product:nth-child(1) {
    background: url(beosound-shape-mobile.jpg);
    background-size: 100% auto;
}

.product:nth-child(2) {
    background: url(beovision-eclipse-mobile.jpg);
    background-size: 100% auto;
}

.product:nth-child(3) {
    background: url(beolab-50-mobile.jpg);
    background-size: 100% auto;
}

.product:nth-child(4) {
    background: url(beoplay-p6-categories-mobile-2.jpg);
    background-size: 100% auto;
}

.product:nth-child(5) {
    background: url(beosound-core-mobile.jpg);
    background-size: 100% auto;
}

.product:nth-child(6) {
    background: url(beoplay-h9i-mobile.jpg);
    background-size: 100% auto;
}

.product h4 {
    position: absolute;
    top: 15px;
    left: 20px;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

.story-list {
    margin: auto;
    width: 825px;
    height: 458px;
    padding: 0 60px;
    display: flex;
}

.story img {
    height: 168px;
}

.story:nth-child(1) {
    width: 176px;
}

.story:nth-child(2) {
    width: 176px;
}

.story:nth-child(3) {
    width: 353px;
}

.story h5 {
    margin: 30px 0 11px;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}

.story-desc {
    font-size: 13px;
    font-weight: 300;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.3);
}

.info-box {
    border-top: 1px solid #f3f3f3;
    width: 996px;
    height: 509px;
    margin: 0 auto;
    display: flex;
}

.info-item {
    width: 483px;
    height: 100%;
    padding: 80px 14px 270px 0;
}

.info-item .icon {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    margin: 0 auto 30px auto;
}

.info-item:nth-child(1) {
    border-right: 1px solid #f5f5f5;
}

.info-item:nth-child(1) .icon {
    background: #000 url(news.png) no-repeat center center;
}

.info-item:nth-child(2) .icon {
    background: #000 url(search.png) no-repeat center center;
}

.info-item h5 {
    width: 290px;
    height: 24px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.info-item h6 {
    width: 290px;
    height: 20px;
    font-weight: 300;
    text-align: center;
    color: #888;
    margin: 18px auto;
}

.info-item .button {
    width: 200px;
    height: 41px;
    padding: 10px 40px;
    margin: 8px auto;
    text-align: center;
    background: rgba(0, 0, 0, 0.1);
}

.info-item:nth-child(2) .button {
    margin-top: 136px;
}

.info-item input {
    width: 372px;
    height: 58px;
    border: 1px solid #ccc;
    padding: 6px 12px;
    margin: 12px 62px 40px;
    font-weight: 200;
    outline: none;
}

.footer-box {
    width: 996px;
    height: 82px;
    margin: 0 auto;
    border-top: 1px solid #f5f5f5;
    overflow: hidden;

}

.footer-box .left {
    width: 355px;
    height: 20px;
    padding: 0 14px;
    float: left;
    margin: 31px 0;
    display: flex;
}
.footer-box .left .earth{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #000 url(language.png);
}

.footer-box .left a {
    display: block;
    text-align: left;
    letter-spacing: 2px;
    margin-left: 18px;
    text-decoration: none;
    font-weight: 400;
    line-height: 16px;
    color: #000;
}

.footer-box .right {
    width: 640px;
    height:42px;
    padding: 0 14px;
    margin-top: 31px;
    overflow: hidden;
}
.footer-box .right a{
    display: block;
    float: right;
    color: black;
    text-decoration: none;
    font-weight: 400;
    line-height: 16px;
    margin-left: 9px;
}
